* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border: 2px solid red; */
}

.container {
  /* display: flex; */
  width: 70%;
  margin: 0 10px ;
  align-items: center;
  /* border: 2px solid red; */
}


#navbarSupportedContent ul{
  /* border: 2px solid green; */
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

   /******* search menu ******/
.form-control{
  width: 32vw;
  height: 35px;
  border-radius: 17px;

}


 
.selectofnav {
  border: none;
  
}

.active {
  border-radius: 17px;
  background-color:rgb(243, 176, 132);
  padding: 0 7px;
}

.help {
  /* border: 2px solid black; */
  width: 25%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#createbutton {
  /* border: 2px solid black; */
  width: 26%;
  height: 30px;
  border-radius: 17px;
  padding-left: 10px;
  padding-bottom: 5px; 
} 

 /******* tab bar  *****/
.nav{
  padding-left: 10px;
  font-weight:620;
  margin:7px 0 7px 20px ;
}

#payment{
  background-color: blue;
  display: flex;
  align-items: center;
  border-radius: 18px;
  height: 27px;
  width: 7rem;
  margin-top: 6px;
  color: white;
}

.morebutton {
   border: none;
  margin-left: 10px;
} 

#developerOfTabbar{
  margin-left: 280px;
}

#togalOfTabbar{
  height: 28px;
  width: 34px;
  margin-top: 6px;
}


#zoo {
  /* margin-left: -15px; */
}

#testData{
  border-top: 2px solid rgb(182, 165, 165);
  display: flex;
  align-items: center;
  justify-content: center;
}
#testData span{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: orange;
  color: white  ;
  height: 18px;
  font-size: 12px;
  width: 80px;
  font-weight: bold;
}

#main {
  /* border: 2px solid red; */
  /* height: 82vh; */
  display: flex;

}
.sidebar {
  background-color: #f8f9fa;
  padding: 20px;
  width: 17vw;
  height: 76vh;
   /* border: 4px solid green; */
}

.list-unstyled li{
  margin:13px 0;
}

#alltransaction{
  margin-top: 34px;
}

#maincontent{
  width: calc(100vw - 17vw);
  /* border: 1px solid blue; */
}

#allPayment {
  color: blueviolet;
  margin-top: 13px;
  padding-left: 10px;
  font-weight: 700;
  border-left: 2px solid blueviolet;
}

#mainline1 {
  /* border: 2px solid green; */
  /* height: 200px; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#h2{
  font-size: 2rem;
  font-weight: 600;
  /* border: 2px solid; */
  margin-left: 3%;
  /* width: 50%; */
  margin-top: 5px;
}

#btn{
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width:30vw;
}
.mainbtn{
  border: 1px solid rgb(184, 175, 175);
  font-size: 13px;
  font-weight: 600;
  border-radius: 3px;
  padding: 2px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#mainline2{
  border-bottom: 1px solid;
}

#btn button:nth-child(3) {
  padding: 0 12px;
  border-radius: 4px;
  margin-left: 5px;
  background-color: blue;
  color: white;
  height: 28px;
  border: 2px solid blue;
}



#allOftab a{
  border-bottom: 2px solid blueviolet;
  color: blueviolet;
  width: 20px;
  margin-top: 8px;
  margin-right: 14px;
  padding: 0px;
}

#succeeded{
  color:green;
  margin-left: 10px;
  background-color: rgb(147, 201, 147);
  border-radius: 3px;
  padding: 0 3px;
  font-size:12px;
  font-weight: bold;
}



#Rs{
  /* font-style: normal; */
  color: black;
  margin: 0 10px;
  background-color: white;
}

#INR{
  font-weight: 400;
}
#Result{
  /* border: 2px solid; */
  display: flex;
  align-items: center;
  justify-content: space-around;
}

p button{
  width: 80px;
  padding: 1px 10px;
  border-radius: 3px;
  border: none;
  color: rgb(167, 152, 152);
  background-color: whitesmoke;

}


/********* togal buttun *********/
.toggle 
{
  position: relative;
  display: inline-block;
  width: 38px;
  height: 18px;
  margin-top: 10px;
}
.toggle input {
  display: none;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 34px;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 18px;   
  width: 18px;
  /* left: 4px; */
  /* bottom: 4px; */
  background-color: rgb(247, 242, 242);
  border-radius: 50%;
  transition: .4s;
}

input:checked + .slider {
  background-color: #f0b074;
}
input:checked + .slider:before {
  transform: translateX(26px);
}
.toggle {
  padding: 4px;
} 


/*********** media query ******/
@media screen and (max-width: 768px) {
  #main{
    /* border: 2px solid red; */
    
  }
  #sideBar{
    /* width: 30%; */
    /* border: 2px solid rgb(77, 64, 201); */
    /* display: none; */
  }
  #maincontent{
    /* align-items: center; */
    /* border: 2px solid red; */
    /* width: 100%; */
  }
}

@media screen and (max-width: 670px) {
  nav{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .container{
    width: 100%;
    margin:0 auto;
  }

  nav .help{
    /* border: 2px solid rgb(71, 207, 37); */
    width: 100%;
    margin-top: 15px;
    
  }
  #maincontent{
    /* border: 4px solid rgb(9, 33, 170); */
    width: 100vw;
  }
  #mainline1{
    /* border: 2px solid rgb(71, 207, 37); */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  #mainline1 h2{
    font-size: 24px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 70px;
  }
  #btn{
    width: 100%;
    margin: 0 auto;

  }
  #sideBar{
    /* width: 30%; */
    /* border: 2px solid rgb(77, 64, 201); */
    display: none;
  }
  .grid-item p button{
    margin: 5px;
    margin-right: 30px;
  }
}

@media screen and (max-width: 450px) {
  nav{
    display: flex;
    flex-direction: column;
    width: 100vw;
  }
  .nav-item{ 
    font-size: 13px;
    font-weight:bold;
  }
 
  #mainline1{
    /* border: 2px solid rgb(71, 207, 37); */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  #h2{
    font-size: 1.7rem;
    margin:0 auto ;
  }
  .mainbtn{
    font-size: 12px;
  }
  .table{
    font-size: 11px;
  }
  .grid-item p button{
    margin: 5px;
    margin-right: 30px;
  }
}



